/*
====================================
large Screen - Others
====================================
*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
.quate-contents p {
	font-size: 14px;
}



}

/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
.gap-x-40 {
    row-gap: 50px;
}
.main-menu ul {
	gap: 28px;
}
.row-gap-85 {
	--bs-gutter-x: 30px;
}
.hero-right-col {
	padding-left: 0px;
}
.hero-left-col {
	gap: 23px;
}
.hero-duel-buttons ul {
	padding-top: 12px;
}
.hero-left-col p {
	font-size: 16px;
}
.signle-features-card h3 {
	font-size: 21px;
}
.hero-left-col h1 {
	font-size: 48px;
}

.single-feature-case::after {
    right: -96px;
}
.quate-contents p {
	font-size: 14px;
}
.pricing-card-wp .card-top-bg .card-title {
	font-size: 15px;
}
.ready-innter h2 {
	font-size: 36px;
}


}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
.gap-x-40 {
    row-gap: 45px;
}
.menu-spacer {
	min-height: 108px;
}
.row-gap-85 {
	--bs-gutter-x: 0px;
}
.hero-left-col h1 {
	font-size: 46px;
}
.section-spacer {
	padding-top: 35px;
	padding-bottom: 35px;
}
.hero-right-col {
	padding-left: 0px;
}
.hero-left-col {
	gap: 23px;
}
.hero-duel-buttons ul {
	padding-top: 12px;
}
.hero-left-col p {
	font-size: 16px;
}
.hero-area {
	padding-top: calc(50px + 100px);
}
.section-head-wrap h2 {
	font-size: 38px;
}

.single-feature-case::after {
    display: none;
}
.feature-case-inner .row {
    row-gap: 60px;
    max-width: 70%;
    margin-inline: auto;
}
.quate-contents p {
	font-size: 14px;
}
.ready-innter {
	padding: 48px 70px;
}
.ready-innter h2 {
	font-size: 36px;
}
.footer-1st-col {
    padding-bottom: 40px;
}
.footer-2st-col {
	display: flex;
	justify-content: flex-start;
    gap: 120px;
	color: #fff;
}
.footer-top-inner {
	padding-top: 65px;
	padding-bottom: 58px;
}



}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 767px) {
body {
    font-size: 15px;
}
.gap-x-40 {
    row-gap: 38px;
}
.row-gap-85 {
	--bs-gutter-x: 0px;
}
.hero-left-col h1 {
	font-size: 32px;
	text-align: center;
	margin: 0;
}
.section-spacer {
	padding-top: 22px;
	padding-bottom: 22px;
}
.header-nav {
	padding: 9px 0;
}
.menu-spacer {
	min-height: 95px;
}
.button-secondary {
	font-size: 12px;
    margin-inline: auto;
    padding-block: 8px;
}
.hero-left-col {
    text-align: center;
}
.hero-left-col {
	gap: 20px;
}
.hero-left-col p {
	font-size: 15px;
}
.hero-duel-buttons ul li a img {
	max-width: 122px;
}
.hero-duel-buttons ul {
	gap: 16px;
    justify-content: center;
}
.logo-area img {
	max-width: 190px;
}
.header-nav.menu-sticky {
	padding-block: 5px;
}
.hero-right-col {
	padding-left: 0px;
}
.hero-duel-buttons ul {
	padding-top: 5px;
}
.hero-area {
	padding-top: calc(50px + 60px);
    padding-bottom: 45px;
}

.section-head-wrap h2 {
	font-size: 32px;
}
.signle-features-card h3 {
    font-size: 17px;
	padding-top: 16px;
	padding-bottom: 8px;
}

.inner-spacer {
	padding-block: 20px;
}
.section-head-wrap {
    padding-bottom: 30px;
}
.signle-features-card {
	border-radius: 12px;
	padding: 18px 14px;
}
.features-area .row {
    --bs-gutter-x: 12px;
    --bs-gutter-y: 12px;
    row-gap: 0;
}
.signle-features-card.much-more-card .icon {
    font-size: 20px;
}
.signle-features-card .icon {
	height: 45px;
	width: 45px;
}
.signle-features-card p {
    font-size: 12px;
}

 .single-feature-case::after {
    display: none;
}
.feature-case-inner .row {
    row-gap: 55px;
    margin-inline: auto;
}
.single-feature-case h3 {
	font-size: 18px;
	padding-top: 43px;
	padding-bottom: 12px;
}
.tab-bottom-conts {
	margin-top: 40px;
}
.pluse,
.pluse2 {
    display: none;
}
.tab-bottom-conts {
	background: #fff;
}
.quate-contents p {
	font-size: 14px;
}
.testimonial-inner .quate-contents {
	padding: 20px 27px 20px;
	margin-bottom: 28px;
	min-height: auto;
}
.testimonial-inner .profile-img img {
	max-width: 55px;
	height: 55px;
}
.testimonial-inner .profile-desc h4 {
	font-size: 16px;
	padding-bottom: 2px;
}
.testimonial-inner .profile-desc p {
	font-size: 13px;
}
.quate-ratting .quate-icon {
	width: 84px;
	left: -3px;
}

.pricing-card-wrap {
	padding-bottom: 5px;
}
.pricing-card-wp .card-top-bg .card-title {
	font-size: 14px;
}
.pricing-card-wp .card-top-bg h4 {
	font-size: 14px;
}
.pricing-card-wp .pricing-features ul {
	gap: 8px;
	padding: 23px 24px;
	min-height: auto;
}
.pricing-card-wp .pricing span {
	font-size: 28.8px;
}
.tab-bottom-conts p {
	font-size: 14px;
}
.btn-primary {
	font-size: 15px;
}
.pricing-card-wp .pricing-features ul li {
	font-size: 15px;
}

.accordion .link {
	font-size: 16px;
}
.accordion .link {
    padding: 18px 16px;
    padding-right: 50px;
}
.accordion .submenu {
	padding: 16px 16px;
}
.accordion li i {
	top: 23px;
	font-size: 14px;
    right: 15px !important;
}
.accordion .submenu p {
	font-size: 14px;
}
.faq-inner .accordion {
	padding-top: 0px;
}
.ready-innter {
	padding: 30px 18px;
    position: relative;
}
.ready-innter h2 {
	font-size: 24px;
}
.ready-innter p {
    font-size: 14px;
}
.ready-logo img {
	max-width: 236px;
	padding-bottom: 0px;
}
.ready-innter {
	gap: 10px;
}
.footer-1st-col {
    padding-bottom: 38px;
}
.footer-top-inner {
	padding-top: 35px;
	padding-bottom: 32px;
}
.footer-1st-col img {
	max-width: 226px;
}
.footer-1st-col h3 {
	font-size: 23px;
	padding-top: 6px;
}
.footer-2st-col {
    justify-content: flex-start;
    gap: 100px;
}
.footer-2st-col h3 {
	font-size: 18px;
	padding-bottom: 15px;
}
.footer-area {
	margin-top:0;
}
.ready-area {
    padding-bottom: 40px;
}
.footer-bottom-wp {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
}
.footer-bottom-wp {
	padding-block: 16px;
    padding-bottom: 20px;
}

/* leagl page responsive */
.rt-consect-section {
	padding: 50px 0;
	padding-top: 104px;
}
.rt-consect-area {
	padding: 30px 18px;
}
.rt-consect-inner1 h4 {
	font-size: 26px;
}
.rt-consect-section p {
	font-size: 15px;
}
.listing-content-sh {
	padding-top: 25px;
}
.listing-content-sh .rt-consect-inner2-itms {
	padding-bottom: 14px;
}
.listing-content-sh h6 {
	padding-bottom: 12px;
	font-size: 20px;
}
.listing-content-sh .listing-conts {
	padding-top: 20px;
}
.para-devider {
	padding-top: 18px;
}

}

@media screen and (max-width: 575px) {
.section-head-wrap h2 {
	font-size: 25px;
}


}